<html>
<head>
    {{ content_for_header }}
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5VVTM65');</script>
<!-- End Google Tag Manager -->
  <title>{{ page_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="{{ page_description }}" />
<meta name="google-site-verification" content="NbdJm7w0uV4QSrZRYqP45hntYREM7y5p47GOb6kO-0w" />
  <link rel="icon" href="//cdn.shopify.com/s/files/1/0176/9202/t/3/assets/do_book_co_icon.png?v=1576766630" type="image/png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@dobookco">
    <meta name="twitter:site" content="@dobookco">
    <meta name="twitter:title" content="{{ page_title }}">
    <meta name="twitter:description" content="{{ shop.description }}">
    {% if template contains 'product' %}
      {% for image in product.images limit:1 %}
        <meta name="twitter:image:src" content="http:{{ image | img_url: 'grande' }}">
        {% endfor %}
    {% else %}
    <meta name="twitter:image:src" content="https://cdn.shopify.com/s/files/1/0176/9202/t/3/assets/homepage_box_image_3.jpg">
    {% endif %}

    <meta property="og:title" content="{{ page_title }}" />
    <meta property="og:site_name" content="{{ shop.name }}" />
    <meta property="og:url" content="{{ canonical_url }}" />
    {% if template contains 'product' %}
        <meta property="og:type" content="product" />
        <meta property="og:title" content="{{ product.title | strip_html | escape }}" />
        {% for image in product.images %}
            <meta property="og:image" content="http:{{ image | img_url: 'grande' }}" />
            <meta property="og:image:secure_url" content="https:{{ image | img_url: 'grande' }}" />
        {% endfor %}
        <meta property="og:price:amount" content="{{ product.price | money_without_currency }}" />
        <meta property="og:price:currency" content="{{ shop.currency }}" />
    {% endif %}

    <link rel="stylesheet" href="//unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    {% if template == 'index' or template == 'product' %}
    {% else %}
         <!--[if lte IE 8]>
      	{{ 'GGS-ie.css' | asset_url | stylesheet_tag }}
         <![endif]-->
         <!--[if gt IE 8]><!-->
      	{{ 'GGS.css' | asset_url | stylesheet_tag }}
         <!--<![endif]-->
      	{{ 'design.css' | asset_url | stylesheet_tag }}
    {% endif %}
    {{ 'style.min.css' | asset_url | stylesheet_tag }}

  	{% if template == 'product' %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
    {% endif %}
  	{{ 'modernizr.min.js' | asset_url | script_tag }}
  	<script type="text/javascript" src="//use.typekit.com/tds2rqc.js"></script>
  	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  	<script>window.jQuery || document.write('<script src="jquery-1.7.1.min.js"><\/script>')</script>
  	{{ 'option_selection.js' | shopify_asset_url | script_tag }}
</head>

<body class="cf {{ template | replace: '.', ' ' | truncatewords: 1, '' }} dark-gray" id="{{ page_title | handle }}">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VVTM65"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div class="ml7-ns pr4-ns container-wrapper">
      <header role="banner" class="fixed-ns vh-100-ns w-100 w5-ns bg-white dark-gray top-0 left-0 border-box pa2 pa4-ns pb0 pb4-ns">
          <h1 class="ma0 tc tl-ns">
              <a href="{{ shop.url }}">
                  <img src="{{ 'dobookco.svg' | asset_url }}" alt="{{ shop.name }}" class="w4" />
              </a>
          </h1>
          <nav role="navigation" class="lh-copy ma0 mt5-ns left-align-with-logo">
            <ul class="list pa0 mb0 tc tl-ns">
              {% for link in linklists.main-menu.links %}
              <li class="f5 f4-ns mb2 dib db-ns mh3 mh0-ns">
                <a href="{{ link.url }}" class="near black hover-dbc-orange link {% if link.active %}dbc-orange{% endif %}">{{ link.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
          {% if template != 'cart' %}
            <div id="minicartwrap">
              {% include 'minicart' %}
            </div>
          {% endif %}
    </header>
  <section class="container cf pv4" role="main" id="content">
      {{ content_for_layout }}
  </section><!-- role="main" -->
  <footer role="content-info" class="mt5 mb4">
    <ul class="list tc pa0">
      <li class="dib mr3"><a href="http://twitter.com/dobookco"><img class="w2 h2" src="{{ 'twitter.svg' | asset_url }}" title="Twitter" /></a></li>
      <li class="dib ml3"><a href="http://instagram.com/dobookco/"><img class="w2 h2" src="{{ 'instagram.svg' | asset_url }}" title="Instagram" /></a></li>
    </ul>
    <p class="tc f6">
        {% for link in linklists.footer.links %}
          <span class="mh2"><a class="link dbc-orange " href="{{ link.url }}">{{ link.title }}</a></span>
        {% endfor %}
    </p>
    <p class="tc f6">
        Site&nbsp;by&nbsp;<a class="link dbc-orange" href="http://jonheslop.com">Jon&nbsp;Heslop</a>&nbsp; | Powered&nbsp;by&nbsp;<a rel="nofollow" class="link dbc-orange" href="http://shopify.com">Shopify</a></p>
  </footer>

  <aside class="popup-overlay fixed top-0 left-0 w-100 h-100 bg-black-70 dn">
      <section class="popup-box absolute w-90 w-50-l bg-white pa2 pa4-ns br1" data-expires="90" data-delay="10">
          <span class="popup_close-box absolute right-0 top-0 right-1-ns top-1-ns"></span>
          <section class="fl w-100 cf">
              <header class="bb bw1 b--dbc-orange mb3 mh3 mh0-ns">
                  <h3 class="f3 f4-ns ma0 lh-title">Subscribe to our newsletter</h3>
              </header>
              <form action="https://dobook.us1.list-manage.com/subscribe/post?u=c168767534dca14d175477829&amp;id=ab276620f8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate cf mh3 mh0-ns" target="_blank" novalidate>
                  <input class="fl w-70 pa3 lh-copy br1 bw1 br--left ba b--dbc-orange lh--copy outline-0" type="mce-EMAIL" id="mce-EMAIL" name="EMAIL" placeholder="your.name@email.com" value="" required style="max-height: 3.75em;">
                  <input class="fl w-30 pa3 lh-copy br1 bw1 br--right bg-dbc-orange white ba b--dbc-orange ttu myriad fw4 tracked antialiased dim" type="submit" id="mc-embedded-subscribe" value="Sign Up" />
              </form>
          </section>
      </section>
  </aside>

    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    {{ 'api.jquery.js' | asset_url | script_tag }}
    {{ 'ajaxify-shop.js' | asset_url | script_tag }}
    {{ 'app.js' | asset_url | script_tag }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
    {{ 'jquery.fitvids.js' | asset_url | script_tag }}
	{{ 'retina.js' | asset_url | script_tag }}
	{{ 'tdbc.js' | asset_url | script_tag }}
	<script type="text/javascript">
  	jQuery(document).ready(function($) {
  		$(".fancybox").fancybox({
          helpers : {
              overlay : {
                  css : {
                      'background' : 'rgba(46, 49, 51, .8)'
                  }
              }
          }
      });
  	});
	</script>

	<script>
	// <![CDATA[
	var selectCallback = function(variant, selector) {
	  if (variant) {
	    if (variant.available) {
	      // Selected a valid variant that is available.
	      $('#add').removeClass('disabled').removeAttr('disabled').val('Add to Cart').fadeTo(200,1);
	    } else {
	      // Variant is sold out.
	      $('#add').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
	    }
	    // Whether the variant is in stock or not, we can update the price and compare at price.
	    if ( variant.compare_at_price > variant.price ) {
	      $('#price-field').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")+ '</s>');
	    } else {
	      $('#price-field').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + '</span>' );
	    }
	  } else {
	    // variant doesn't exist.
	    $('#add').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
	  }
	}
	// initialize multi selector for product
	jQuery(function($) {
	  new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });
	});
	// ]]>
	</script>
	<!--[if lt IE 7 ]>
	  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
	  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->
</body>
</html>
