<html>
<head>
    {{ content_for_header }}
    <title>{{ shop.name }} - {{ page_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% if shop.description != blank and template == "index" %}
    <meta name="description" content="{{ shop.description }}">
    {% endif %}
    <link rel="stylesheet" href="//unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    {% if template != 'index' %}
         <!--[if lte IE 8]>
      	{{ 'GGS-ie.css' | asset_url | stylesheet_tag }}
         <![endif]-->
         <!--[if gt IE 8]><!-->
      	{{ 'GGS.css' | asset_url | stylesheet_tag }}
         <!--<![endif]-->
      	{{ 'design.css' | asset_url | stylesheet_tag }}
    {% endif %}
    {{ 'style.min.css' | asset_url | stylesheet_tag }}

  	{% if template == 'product' %}
      	{{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
    {% endif %}
  	{{ 'modernizr.min.js' | asset_url | script_tag }}
  	<script type="text/javascript" src="//use.typekit.com/tds2rqc.js"></script>
  	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  	<script>window.jQuery || document.write('<script src="jquery-1.7.1.min.js"><\/script>')</script>
  	{{ 'option_selection.js' | shopify_asset_url | script_tag }}
</head>

<body class="cf {{ template | replace: '.', ' ' | truncatewords: 1, '' }} dark-gray" id="{{ page_title | handle }}">
  <div class="ml7-ns ph4-ns">
      <header role="banner" class="fixed-ns vh-100-ns w-100 w5-ns bg-near-white dark-gray top-0 left-0 flex content-center justify-center flex-column border-box pa2 pa4-ns pb0 pb4-ns">
        <div class="items-start flex-auto">
            <h1 class="ma0 tc tl-ns">
                <a href="{{ shop.url }}">
                    <img src="{{ 'dobookco.svg' | asset_url }}" alt="{{ shop.name }}" class="w4" />
                </a>
            </h1>
            <nav role="navigation" class="lh-copy ma0 mt5-ns left-align-with-logo">
              <ul class="list pa0 mb0 tc tl-ns">
                {% for link in linklists.main-menu.links %}
                <li class="f5 f4-ns mb2 dib db-ns mh3 mh0-ns">
                  <a href="{{ link.url }}" class="near black hover-dbc-orange link {% if link.active %}dbc-orange{% endif %}">{{ link.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </nav>
        </div>
        {% if template != 'cart' %}
          <div id="minicartwrap">
            {% include 'minicart' %}
          </div>
        {% endif %}
    </header>
  <section class="container cf pv4" role="main" id="content">
      {{ content_for_layout }}
  </section><!-- role="main" -->
  <footer role="content-info" class="mt5 mb4">
    <!-- <ul class="wrapper social">
      <li class="twitter"><a href="http://twitter.com/dobookco">Twitter</a></li>
      <li class="facebook"><a href="https://www.facebook.com/DoBookCo">Facebook</a></li>
      <li class="instagram"><a href="http://instagram.com/dobookco/">Instagram</a></li>
      <li class="pinterest"><a href="http://www.pinterest.com/dobookco/">Pinterest</a></li>
    </ul> -->
    <p class="tc f6">
        {% for link in linklists.footer.links %}
          <span class="mh2"><a class="link dbc-orange " href="{{ link.url }}">{{ link.title }}</a></span>
        {% endfor %}
    </p>
    <p class="tc f6">
        Site&nbsp;by&nbsp;<a class="link dbc-orange" href="http://jonheslop.com">Jon&nbsp;Heslop</a>&nbsp; | Powered&nbsp;by&nbsp;<a class="link dbc-orange" href="http://shopify.com">Shopify</a></p>
  </footer>
    <!-- <script src="//unpkg.com/jquery@3.1.1"></script> -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    {{ 'api.jquery.js' | asset_url | script_tag }}
    {{ 'ajaxify-shop.js' | asset_url | script_tag }}
    {{ 'app.js' | asset_url | script_tag }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
    {{ 'jquery.fitvids.js' | asset_url | script_tag }}
	{{ 'retina.js' | asset_url | script_tag }}
	{{ 'tdbc.js' | asset_url | script_tag }}
	<script type="text/javascript">
  	jQuery(document).ready(function($) {
  		$(".fancybox").fancybox({
          helpers : {
              overlay : {
                  css : {
                      'background' : 'rgba(46, 49, 51, .8)'
                  }
              }
          }
      });
  	});
	</script>

	<script>
	// <![CDATA[
	var selectCallback = function(variant, selector) {
	  if (variant) {
	    if (variant.available) {
	      // Selected a valid variant that is available.
	      $('#add').removeClass('disabled').removeAttr('disabled').val('Add to Cart').fadeTo(200,1);
	    } else {
	      // Variant is sold out.
	      $('#add').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
	    }
	    // Whether the variant is in stock or not, we can update the price and compare at price.
	    if ( variant.compare_at_price > variant.price ) {
	      $('#price-field').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")+ '</s>');
	    } else {
	      $('#price-field').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + '</span>' );
	    }
	  } else {
	    // variant doesn't exist.
	    $('#add').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
	  }
	}
	// initialize multi selector for product
	jQuery(function($) {
	  new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });
	});
	// ]]>
	</script>
	<!--[if lt IE 7 ]>
	  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
	  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->
</body>
</html>
