<!-- Every 12 products in the collection, paginate -->
{% paginate collection.products by 18 %}
{% if collection.handle == "all" %}
{% if collections.home-page %}
<section class="partition mv5">
    <header class="bb bw1 b--dbc-orange mb3 mh3 mh0-ns">
        <h1 class="f3 fw5 f2-ns ma0 lh-title">Smart Working</h1>
    </header>
    <div class="cf grid-offset">
      {% for product in collections.smart-working.products %}
        <article class="fl w-50 w-third-m w-20-l pa3 border-box {{ product.metafields.attribute.type | handleize }}{% unless product.available %} sold-out{% endunless %}">
            <a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="product-thumb">
                <figure class="ma0">
                    <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}" data-at2x="{{ product.featured_image | product_img_url: 'grande' }}">
                </figure>
            </a>
        </article>
      {% endfor %}
    </div>
  </section>
 {% endif %}
 {% if collections.home-page %}
 <section class="partition mv5">
     <header class="bb bw1 b--dbc-orange mb3 mh3 mh0-ns">
         <h1 class="f3 fw5 f2-ns ma0 lh-title">Slow Living</h1>
     </header>
     <div class="cf grid-offset">
         {% for product in collections.slow-living.products %}
         <article class="fl w-50 w-third-m w-20-l pa3 border-box {{ product.metafields.attribute.type | handleize }}{% unless product.available %} sold-out{% endunless %}">
             <a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="product-thumb">
                 <figure class="ma0">
                     <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}" data-at2x="{{ product.featured_image | product_img_url: 'grande' }}">
                 </figure>
             </a>
         </article>
       {% endfor %}
     </div>
   </section>
  {% endif %}
			<!-- {% if collections.bundles %}
			  {% for product in collections.bundles.products %}
				<form class="launch addtocart cf" action="/cart/add" method="post" style="margin-bottom:3em;">
			      {% comment %} Return to product instead of going to cart {% endcomment %}
			      <input type="hidden" name="return_to" value="back" />
					<header>
						<h2>{{collections.bundles.description}}</h2>
					</header>
					<div class="radioButtons cf">
						{% for variant in product.variants %}
			          {% if variant.available == true %}
						<div class="wrapper" style="margin-left:25%;">
						<input type="radio" name="id" id="format_{{variant.id}}" value="{{ variant.id }}" class="bookFormat"/>
						<label for="format_{{variant.id}}" class="button{% if forloop.first %} first{% endif %}">{% if variant.title == "Bundle" %}Add pb + ebook set{% else %}Add {{ variant.title }} set{% endif %} {{ variant.price | money | remove: '.00' }} <span class="description">{% if variant.title == "Bundle" %}5 Paperbacks &amp;&nbsp;4 eBooks {% elsif variant.title == "Paperback" %}14 books{% elsif variant.title == "eBook" %}Kindle, iBooks, Readmill etc.{% endif %}</span></label>
						{% if variant.title == "eBook" %}<h5 class="helperText"><a href="/pages/supported-ebook-formats">Supported Ebook&nbsp;formats?</a></h5>{% endif %}
			          	</div>
						{% else %}
						<div class="wrapper">
						<input disabled type="radio" name="id" id="format_{{variant.id}}" value="{{ variant.id }}" class="bookFormat" />
						<label for="format_{{variant.id}}" class="button{% if forloop.first %} first{% endif %}">Add {{ variant.title }} set {{ variant.price | money | remove: '.00' }} <span class="description">{% if variant.title == "Bundle" %}Paperback &amp;&nbsp;eBook {% elsif variant.title == "Paperback" %}{{ product.metafields.attribute.pagecount }} pages{% elsif variant.title == "eBook" %}Kindle, iBooks, Readmill etc.{% endif %}</span></label>
						{% if variant.title == "eBook" %}<h5 class="helperText"><a href="/pages/supported-ebook-formats">Supported Ebook&nbsp;formats?</a></h5>{% endif %}
						</div>
			          {% endif %}
			         {% endfor %}
					</div>
				   {% unless product.available %}
					<p class="coming_soon wrapper"><em>~ Available from 1st May 2014 ~</em></p>
				   {% endunless %}
					<div>
						<input type="submit" class="submit button" value="Add to Basket" id="add" name="add" />
					</div>
				</form>
		  {% endfor %}
		 {% endif %} -->

 <section class="partition mv5">
     <header class="bb bw1 b--dbc-orange mb3 mh3 mh0-ns">
         <h1 class="f3 fw5 f2-ns ma0 lh-title">Gift ideas</h1>
     </header>
	{% if collections.home-page %}
	<div class="cf grid-offset">
	  {% for product in collections.gift-bundles.products %}
		<article class="fl w-50 w-third-m w-25-l pa3 border-box {{ product.metafields.attribute.type | handleize }}{% unless product.available %} sold-out{% endunless %}">
			<a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="link product-thumb">
				<figure class="ma0">
					<img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}" data-at2x="{{ product.featured_image | product_img_url: 'grande' }}">
              <h4 class="mt2 f5">{{ product.title }}</h4>
				</figure>
			</a>
		</article>
	  {% endfor %}
		</div>
		{% endif %}
	</section>

{% else %}
<section id="featuredBook" class="partition cf">
	<header class="cf section_header">
		<!-- Handle the case if there are no products -->
		{% if collection.products.size == 0 %}
		<strong>No products found in this collection.</strong>
		{% else %}
		<hgroup class="wrapper">
			<h1 class="section_title">Books that make it easier to Do stuff</h1>
			<p>{{ collection.description }}</p>
		</hgroup>
	</header>
<ul id="allBooks" class="partition cf">
  {% for product in collection.products %}
	<li class="bookPreview wrapper {{ product.metafields.attribute.type | handleize }}{% if product.available %} sold-out{% endif%}">
		<a href="{{ product.url | within: collection }}" title="{{ product.title }}">
			<figure class="cf">
				<img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}" data-at2x="{{ product.featured_image | product_img_url: 'grande' }}">
					{% if product.tags contains 'new' or product.tags contains 'New' %}
						<span class="button">New</span>
					{% else %}
						<span class="button">Learn more</span>
					{% endif %}
			</figure>
		</a>
	</li>
  {% endfor %}
</ul>
	{% if collections.christmas %}
	  {% for product in collections.christmas.products %}
		<form class="christmas addtocart cf" action="/cart/add" method="post">
	      {% comment %} Return to product instead of going to cart {% endcomment %}
	      <input type="hidden" name="return_to" value="back" />
			<header>
				<h2>Choose any three paperback books from our collection for £20.</h2>
			</header>
			<select id="product-select" name="id">
			{% for variant in product.variants %}
				<option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
			{% endfor %}
			</select>
			<input type="submit" class="submit button" value="Add to Basket" id="add" name="add" />
			<script>
			// <![CDATA[
			var selectCallback = function(variant, selector) {
			  if (variant) {
			    if (variant.available) {
			      // Selected a valid variant that is available.
			      $('#add').removeClass('disabled').removeAttr('disabled').val('Add to Cart').fadeTo(200,1);
			    } else {
			      // Variant is sold out.
			      $('#add').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
			    }
			    // Whether the variant is in stock or not, we can update the price and compare at price.
			    if ( variant.compare_at_price > variant.price ) {
			      $('#price-field').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")+ '</s>');
			    } else {
			      $('#price-field').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + '</span>' );
			    }
			  } else {
			    // variant doesn't exist.
			    $('#add').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
			  }
			}
			// initialize multi selector for product
			jQuery(function($) {
			  new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });
			});
			// ]]>
			</script>
		</form>
	  {% endfor %}
	 {% endif %}
	<!-- <p class="coming_soon wrapper"><em>~ Available from 16th May 2013 ~</em></p> -->
		{% if collections.bundles %}
		  {% for product in collections.bundles.products %}
			<form class="launch addtocart cf" action="/cart/add" method="post">
		      {% comment %} Return to product instead of going to cart {% endcomment %}
		      <input type="hidden" name="return_to" value="back" />
				<header>
					<h2>{{collections.bundles.description}}</h2>
				</header>
				<div class="radioButtons cf">
					{% for variant in product.variants %}
		          {% if variant.available == true %}
					<div class="wrapper" style="margin-left:25%;">
					<input type="radio" name="id" id="format_{{variant.id}}" value="{{ variant.id }}" class="bookFormat"/>
					<label for="format_{{variant.id}}" class="button{% if forloop.first %} first{% endif %}">{% if variant.title == "Bundle" %}Add pb + ebook set{% else %}Add {{ variant.title }} set{% endif %} {{ variant.price | money | remove: '.00' }} <span class="description">{% if variant.title == "Bundle" %}5 Paperbacks &amp;&nbsp;4 eBooks {% elsif variant.title == "Paperback" %}4 books{% elsif variant.title == "eBook" %}Kindle, iBooks, etc.{% endif %}</span></label>
					{% if variant.title == "eBook" %}<h5 class="helperText"><a href="/pages/supported-ebook-formats">Supported Ebook&nbsp;formats?</a></h5>{% endif %}
		          	</div>
					{% else %}
					<div class="wrapper">
					<input disabled type="radio" name="id" id="format_{{variant.id}}" value="{{ variant.id }}" class="bookFormat" />
					<label for="format_{{variant.id}}" class="button{% if forloop.first %} first{% endif %}">Add {{ variant.title }} set {{ variant.price | money | remove: '.00' }} <span class="description">{% if variant.title == "Bundle" %}Paperback &amp;&nbsp;eBook {% elsif variant.title == "Paperback" %}{{ product.metafields.attribute.pagecount }} pages{% elsif variant.title == "eBook" %}Kindle, iBooks, etc.{% endif %}</span></label>
					{% if variant.title == "eBook" %}<h5 class="helperText"><a href="/pages/supported-ebook-formats">Supported Ebook&nbsp;formats?</a></h5>{% endif %}
					</div>
		          {% endif %}
		         {% endfor %}
				</div>
			   {% unless product.available %}
				<p class="coming_soon wrapper"><em>~ Available from 16th May 2013 ~</em></p>
			   {% endunless %}
				<div>
					<input type="submit" class="submit button" value="Add to Basket" id="add" name="add" />
				</div>
			</form>
	  {% endfor %}
	 {% endif %}
</ul>
</section>

<!-- If there is more than 1 page, show the pagination links -->
{% if paginate.pages > 1 %}
  <div id="paginate">
    {{ paginate | default_pagination }}
  </div>
{% endif %}

<!-- The end of the no products / products if statement -->
{% endif %}
{% endif %}

{% endpaginate %}
