<!-- Every 12 products in the collection, paginate -->
{% paginate collection.products by 18 %}
{% if collection.handle == "all" %}
{% if collections.home-page %}
<section class="partition mv5">
    <header class="bb bw1 b--dbc-orange mb3 mh3 mh0-ns">
        <h1 class="f3 fw5 f2-ns ma0 lh-title">Smart Working</h1>
    </header>
    <div class="cf grid-offset">
      {% for product in collections.smart-working.products %}
        <article class="fl w-50 w-third-m w-20-l pa3 border-box {{ product.metafields.attribute.type | handleize }}{% unless product.available %} sold-out{% endunless %}">
            <a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="product-thumb">
                <figure class="ma0">
                    <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}" data-at2x="{{ product.featured_image | product_img_url: 'grande' }}">
                </figure>
            </a>
        </article>
      {% endfor %}
    </div>
  </section>
 {% endif %}
 {% if collections.home-page %}
 <section class="partition mv5">
     <header class="bb bw1 b--dbc-orange mb3 mh3 mh0-ns">
         <h1 class="f3 fw5 f2-ns ma0 lh-title">Slow Living</h1>
     </header>
     <div class="cf grid-offset">
         {% for product in collections.slow-living.products %}
         <article class="fl w-50 w-third-m w-20-l pa3 border-box {{ product.metafields.attribute.type | handleize }}{% unless product.available %} sold-out{% endunless %}">
             <a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="product-thumb">
                 <figure class="ma0">
                     <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}" data-at2x="{{ product.featured_image | product_img_url: 'grande' }}">
                 </figure>
             </a>
         </article>
       {% endfor %}
     </div>
   </section>
  {% endif %}

 <section class="partition mv5">
     <header class="bb bw1 b--dbc-orange mb3 mh3 mh0-ns">
         <h1 class="f3 fw5 f2-ns ma0 lh-title">{{ collections.gift-bundles.title }}</h1>
     </header>
	{% if collections.home-page %}
	<div class="cf grid-offset">
	  {% for product in collections.gift-bundles.products %}
		<article class="fl w-50 w-third-m w-25-l pa3 border-box {{ product.metafields.attribute.type | handleize }}{% unless product.available %} sold-out{% endunless %}">
			<a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="link product-thumb">
				<figure class="ma0">
					<img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}" data-at2x="{{ product.featured_image | product_img_url: 'grande' }}">
              <h4 class="mt2 f5">{{ product.title }}</h4>
				</figure>
			</a>
		</article>
	  {% endfor %}
		</div>
		{% endif %}
	</section>

{% else %}

<section class="partition mv5">
    <header class="bb bw1 b--dbc-orange mb3 mh3 mh0-ns">
        <h1 class="f3 fw5 f2-ns ma0 lh-title">Gift ideas</h1>
    </header>
   {% if collections.home-page %}
   <div class="cf grid-offset">
     {% for product in collections.gift-bundles.products %}
       <article class="fl w-50 w-third-m w-25-l pa3 border-box {{ product.metafields.attribute.type | handleize }}{% unless product.available %} sold-out{% endunless %}">
           <a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="link product-thumb">
               <figure class="ma0">
                   <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}" data-at2x="{{ product.featured_image | product_img_url: 'grande' }}">
             <h4 class="mt2 f5">{{ product.title }}</h4>
               </figure>
           </a>
       </article>
     {% endfor %}
       </div>
       {% endif %}
   </section>


{% endif %}

{% endpaginate %}
