{% if settings.homepage_slideshow %}
    <section class="home-slider">
      {% if settings.homepage_slide_show_1 %}
      <article class="relative" style="height:auto">
        <a href="{{ settings.homepage_slide_link_1 }}" class="link near-white {{ settings.homepage_slide_overlay_1 }}">
            <img src="{{ 'homepage_slide_image_1.jpg' | asset_url }}" alt="{{ settings.homepage_slide_title_1 }}"/>
            <div class="absolute measure lh-title slide-text-{{ settings.homepage_slide_text_1_position }} {{ settings.homepage_slide_text_1_align }}" style="color: {{ settings.homepage_slide_1_colour }}">
                <h1 class="f3 f2-l ma0">{{ settings.homepage_slide_title_1 }}</h1>
                <h2 class="f5 f4-l i ma0 mt2">{{ settings.homepage_slide_text_1 }}</h2>
            </div>
        </a>
      </article>
      {% endif %}
      {% if settings.homepage_slide_show_2 %}
      <article class="relative" style="height:auto">
        <a href="{{ settings.homepage_slide_link_2 }}" class="link near-white {{ settings.homepage_slide_overlay_2 }}">
            <img src="{{ 'homepage_slide_image_2.jpg' | asset_url }}" alt="{{ settings.homepage_slide_title_2 }}"/>
            <div class="absolute measure lh-title slide-text-{{ settings.homepage_slide_text_2_position }} {{ settings.homepage_slide_text_2_align }}" style="color: {{ settings.homepage_slide_2_colour }}">
                <h1 class="f3 f2-l ma0">{{ settings.homepage_slide_title_2 }}</h1>
                <h2 class="f5 f4-l i ma0 mt2">{{ settings.homepage_slide_text_2 }}</h2>
            </div>
        </a>
      </article>
      {% endif %}
      {% if settings.homepage_slide_show_3 %}
      <article class="relative" style="height:auto">
        <a href="{{ settings.homepage_slide_link_3 }}" class="link near-white {{ settings.homepage_slide_overlay_3 }}">
            <img src="{{ 'homepage_slide_image_3.jpg' | asset_url }}" alt="{{ settings.homepage_slide_title_3 }}"/>
            <div class="absolute measure lh-title slide-text-{{ settings.homepage_slide_text_3_position }} {{ settings.homepage_slide_text_3_align }}" style="color: {{ settings.homepage_slide_3_colour }}">
                <h1 class="f3 f2-l ma0">{{ settings.homepage_slide_title_3 }}</h1>
                <h2 class="f5 f4-l i ma0 mt2">{{ settings.homepage_slide_text_3 }}</h2>
            </div>
        </a>
      </article>
      {% endif %}
      {% if settings.homepage_slide_show_4 %}
      <article class="relative" style="height:auto">
        <a href="{{ settings.homepage_slide_link_4 }}" class="link near-white {{ settings.homepage_slide_overlay_4 }}">
            <img src="{{ 'homepage_slide_image_4.jpg' | asset_url }}" alt="{{ settings.homepage_slide_title_4 }}"/>
            <div class="absolute measure lh-title slide-text-{{ settings.homepage_slide_text_4_position }} {{ settings.homepage_slide_text_4_align }}" style="color: {{ settings.homepage_slide_4_colour }}">
                <h1 class="f3 f2-l ma0">{{ settings.homepage_slide_title_4 }}</h1>
                <h2 class="f5 f4-l i ma0 mt2">{{ settings.homepage_slide_text_4 }}</h2>
            </div>
        </a>
      </article>
      {% endif %}
      {% if settings.homepage_slide_show_5 %}
      <article class="relative" style="height:auto">
        <a href="{{ settings.homepage_slide_link_5 }}" class="link near-white {{ settings.homepage_slide_overlay_5 }}">
            <img src="{{ 'homepage_slide_image_5.jpg' | asset_url }}" alt="{{ settings.homepage_slide_title_5 }}"/>
            <div class="absolute measure lh-title slide-text-{{ settings.homepage_slide_text_5_position }} {{ settings.homepage_slide_text_5_align }}" style="color: {{ settings.homepage_slide_5_colour }}">
                <h1 class="f3 f2-l ma0">{{ settings.homepage_slide_title_5 }}</h1>
                <h2 class="f5 f4-l i ma0 mt2">{{ settings.homepage_slide_text_5 }}</h2>
            </div>
        </a>
      </article>
      {% endif %}
  </section>
{% endif %}

{% if collections.home-page %}
<section class="cf mv5">
    <header class="bb bw1 b--dbc-orange mb3 mh3 mh0-ns">
        <h1 class="f3 fw5 f2-ns ma0 lh-title">Smart Working</h1>
    </header>
    <div class="cf grid-offset">
      {% for product in collections.smart-working.products %}
        <article class="fl w-50 w-third-m w-20-l pa3 border-box {{ product.metafields.attribute.type | handleize }}{% unless product.available %} sold-out{% endunless %}">
            <a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="product-thumb">
                <figure class="ma0">
                    <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}" data-at2x="{{ product.featured_image | product_img_url: 'grande' }}">
                </figure>
            </a>
        </article>
      {% endfor %}
    </div>
  </section>
 {% endif %}

 {% if collections.home-page %}
 <section class="cf mv5">
     <header class="bb bw1 b--dbc-orange mb3 mh3 mh0-ns">
         <h1 class="f3 fw5 f2-ns ma0 lh-title">Slow Living</h1>
     </header>
     <div class="cf grid-offset">
         {% for product in collections.slow-living.products %}
         <article class="fl w-50 w-third-m w-20-l pa3 border-box {{ product.metafields.attribute.type | handleize }}{% unless product.available %} sold-out{% endunless %}">
             <a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="product-thumb">
                 <figure class="ma0">
                     <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}" data-at2x="{{ product.featured_image | product_img_url: 'grande' }}">
                 </figure>
             </a>
         </article>
       {% endfor %}
     </div>
   </section>
  {% endif %}

    <div class="cf grid-offset">
        <section class="fl w-100 w-60-l cf mv4 pa3-ns border-box" id="subscribe">
            <header class="bb bw1 b--dbc-orange mb3 mh3 mh0-ns">
                <h3 class="f3 f4-ns ma0 lh-title">Subscribe to our newsletter</h3>
            </header>
            <form action="http://dobook.us1.list-manage.com/subscribe/post?u=c168767534dca14d175477829&amp;id=ab276620f8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate cf mh3 mh0-ns" target="_blank" novalidate>
                <input class="fl w-70 pa3 lh-copy br1 bw1 br--left ba b--dbc-orange lh--copy outline-0" type="mce-EMAIL" id="mce-EMAIL" name="EMAIL" placeholder="your.name@email.com" value="" required style="max-height: 3.75em;">
                <input class="fl w-30 pa3 lh-copy br1 bw1 br--right bg-dbc-orange white ba b--dbc-orange ttu myriad fw4 tracked antialiased dim" type="submit" id="mc-embedded-subscribe" value="Sign Up" />
            </form>
        </section>

        <section class="fl w-100 w-40-l cf mv4 pa3-ns border-box">
            <header class="bb bw1 b--dbc-orange mb3 mh3 mh0-ns">
                <h3 class="f3 f4-ns ma0 lh-title">The Essential Do Library</h3>
            </header>
            <a class="link dim db pa2 ba tc br1 bw1 b--dbc-orange bg-dbc-orange white lh-title ttu tracked myriad antialiased mh3 mh0-ns" href="https://thedobook.co/products/complete-11-book-bundle">Buy the Complete Library and <span class="db">save 15%</span></a>
        </section>
    </div>

    <section class="cf mv4 fl w-100">
        <header class="bb bw1 b--dbc-orange mb3 mh3 mh0-ns">
            <h1 class="f3 fw5 f2-ns ma0 lh-title">Library Sets</h1>
        </header>
        <div class="cf grid-offset">
        {% if collections.home-page %}
          {% for product in collections.library-sets.products %}
          <article class="fl w-50 w-25-l pa3 border-box {{ product.metafields.attribute.type | handleize }}{% unless product.available %} sold-out{% endunless %}">
              <a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="product-thumb no-underline">
                <figure class="ma0">
                    <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}" data-at2x="{{ product.featured_image | product_img_url: 'grande' }}">
                    <h4 class="orange fw5 mt3 mb0">{{ product.title }}</h4>
                </figure>
              </a>
          </article>
          {% endfor %}
      {% endif %}
      </div>
  </section>

    {% if collections.christmas %}
      {% for product in collections.christmas.products %}
        <form class="christmas addtocart cf" action="/cart/add" method="post">
          {% comment %} Return to product instead of going to cart {% endcomment %}
          <input type="hidden" name="return_to" value="back" />
            <header>
                <h2>{{ collections.christmas.description }}</h2>
            </header>
            <select id="product-select" name="id">
            {% for variant in product.variants %}
                <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
            {% endfor %}
            </select>
            <input type="submit" class="submit button" value="Add to Basket" id="add" name="add" />
            <script>
            // <![CDATA[
            var selectCallback = function(variant, selector) {
              if (variant) {
                if (variant.available) {
                  // Selected a valid variant that is available.
                  $('#add').removeClass('disabled').removeAttr('disabled').val('Add to Cart').fadeTo(200,1);
                } else {
                  // Variant is sold out.
                  $('#add').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
                }
                // Whether the variant is in stock or not, we can update the price and compare at price.
                if ( variant.compare_at_price > variant.price ) {
                  $('#price-field').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")+ '</s>');
                } else {
                  $('#price-field').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + '</span>' );
                }
              } else {
                // variant doesn't exist.
                $('#add').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
              }
            }
            // initialize multi selector for product
            jQuery(function($) {
              new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });
            });
            // ]]>
            </script>
        </form>
      {% endfor %}
     {% endif %}

   {% if settings.info_boxes %}
    <section class="fl w-100 mv4 cf">
        <div class="cf grid-offset">
            {% if settings.homepage_box_title_1 != '' %}
            <article class="fl w-100 w-third-ns tc pa3 border-box relative">
              <a href="{{ settings.homepage_box_link_1 }}">
                <div class="aspect-ratio aspect-ratio--1x1 bg-near-black">
                    <div class="dark-overlay dark-overlay-dim aspect-ratio--object cover z-0" style="background:url({{ 'homepage_box_image_1.jpg' | asset_url }}) center;"></div>
                    <header class="absolute left-1 right-1 absolute-vertical-align white z-1">
                        <h2 class="f3 f2-l ma0">{{ settings.homepage_box_title_1 }}</h2>
                        <p>{{ settings.homepage_box_subtitle_1 }}&nbsp;»</p>
                    </header>
                </div>
              </a>
            </article>
            {% endif %}
            {% if settings.homepage_box_title_2 != '' %}
            <article class="fl w-100 w-third-ns tc pa3 border-box relative">
              <a href="{{ settings.homepage_box_link_2 }}">
                <div class="aspect-ratio aspect-ratio--1x1 bg-near-black">
                    <div class="dark-overlay dark-overlay-dim aspect-ratio--object cover z-0" style="background:url({{ 'homepage_box_image_2.jpg' | asset_url }}) center;"></div>
                    <header class="absolute left-1 right-1 absolute-vertical-align white z-1">
                        <h2 class="f3 f2-l ma0">{{ settings.homepage_box_title_2 }}</h2>
                        <p>{{ settings.homepage_box_subtitle_2 }}&nbsp;»</p>
                    </header>
                </div>
              </a>
            </article>
            {% endif %}
            {% if settings.homepage_box_title_3 != '' %}
            <article class="fl w-100 w-third-ns tc pa3 border-box relative">
              <a href="{{ settings.homepage_box_link_3 }}">
                <div class="aspect-ratio aspect-ratio--1x1 bg-near-black">
                    <div class="dark-overlay dark-overlay-dim aspect-ratio--object cover z-0" style="background:url({{ 'homepage_box_image_3.jpg' | asset_url }}) center;"></div>
                    <header class="absolute left-1 right-1 absolute-vertical-align white z-1">
                        <h2 class="f3 f2-l ma0">{{ settings.homepage_box_title_3 }}</h2>
                        <p>{{ settings.homepage_box_subtitle_3 }}&nbsp;»</p>
                    </header>
                </div>
              </a>
            </article>
            {% endif %}
        </div>
        <div class="cf grid-offset">
            {% if settings.homepage_box_title_4 != '' %}
            <article class="fl w-100 w-third-ns tc pa3 border-box relative">
              <a href="{{ settings.homepage_box_link_4 }}">
                <div class="aspect-ratio aspect-ratio--1x1 bg-near-black">
                    <div class="dark-overlay dark-overlay-dim aspect-ratio--object cover z-0" style="background:url({{ 'homepage_box_image_4.jpg' | asset_url }}) center;"></div>
                    <header class="absolute left-1 right-1 absolute-vertical-align white z-1">
                        <h2 class="f3 f2-l ma0">{{ settings.homepage_box_title_4 }}</h2>
                        <p>{{ settings.homepage_box_subtitle_4 }}&nbsp;»</p>
                    </header>
                </div>
              </a>
            </article>
            {% endif %}
            {% if settings.homepage_box_title_5 != '' %}
            <article class="fl w-100 w-third-ns tc pa3 border-box relative">
              <a href="{{ settings.homepage_box_link_5 }}">
                <div class="aspect-ratio aspect-ratio--1x1 bg-near-black">
                    <div class="dark-overlay dark-overlay-dim aspect-ratio--object cover z-0" style="background:url({{ 'homepage_box_image_5.jpg' | asset_url }}) center;"></div>
                    <header class="absolute left-1 right-1 absolute-vertical-align white z-1">
                        <h2 class="f3 f2-l ma0">{{ settings.homepage_box_title_5 }}</h2>
                        <p>{{ settings.homepage_box_subtitle_5 }}&nbsp;»</p>
                    </header>
                </div>
              </a>
            </article>
            {% endif %}
            {% if settings.homepage_box_title_6 != '' %}
            <article class="fl w-100 w-third-ns tc pa3 border-box relative">
              <a href="{{ settings.homepage_box_link_6 }}">
                <div class="aspect-ratio aspect-ratio--1x1 bg-near-black">
                    <div class="dark-overlay dark-overlay-dim aspect-ratio--object cover z-0" style="background:url({{ 'homepage_box_image_6.jpg' | asset_url }}) center;"></div>
                    <header class="absolute left-1 right-1 absolute-vertical-align white z-1">
                        <h2 class="f3 f2-l ma0">{{ settings.homepage_box_title_6 }}</h2>
                        <p>{{ settings.homepage_box_subtitle_6 }}&nbsp;»</p>
                    </header>
                </div>
              </a>
            </article>
            {% endif %}
        </div>
    </section>
    {% endif %}
