<section class="cf grid-offset">
    <figure id="images" class="fl w-100 w-30-l ph3 border-box">
      {% for image in product.images %}
        {% if forloop.first %}
        <img class="ba b--light-gray mb3" src="{{ image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}" data-at2x="{{ image | product_img_url: 'grande' }}" />
        {% elsif forloop.last %}
        <a href="{{ image | product_img_url: '1024x1024' }}" class="fancybox fl w-third border-box pa1" data-fancybox="book-spreads"><img class="ba b--light-gray" src="{{ image | product_img_url: 'small' }}" alt="{{ image.alt | escape }}" data-at2x="{{ image | product_img_url: 'compact' }}" /></a>
        {% else %}
        <a href="{{ image | product_img_url: '1024x1024' }}" class="fancybox fl w-third border-box pa1" data-fancybox="book-spreads"><img class="ba b--light-gray" src="{{ image | product_img_url: 'small' }}" alt="{{ image.alt | escape }}" data-at2x="{{ image | product_img_url: 'compact' }}" /></a>
        {% endif %}
      {% endfor %}
    </figure>
    <section id="details" class="fl w-100 w-70-l ph3 border-box mt4 mt0-ns">
        <article id="intro" class="flex flex-column">
            <header class="bb bw1 b--dbc-orange mb3 mh0 order-1">
                <h2 class="f4 fw5 f3-ns ma0 lh-title"><span class="title">{{ product.title }}</span> <span class="i">{{ product.vendor | replace: ' ', '&nbsp;'}}</span></h2>
            </header>
            <div class="lh-copy order-2">
            {{ product.description }}
            {% unless product.handle contains "bundle" or product.handle contains "gift" or product.type == "Gift" %}
                {% capture list_snippet %}{{ product.metafields.attribute.author | handleize }}-list{% endcapture %}
                {% unless list_snippet contains "Liquid error" %}
                <header class="bb bw1 b--dbc-orange mb3">
                      <h4 class="f5 fw5 f4-ns ma0 lh-title">Summary</h4>
                </header>
                <article class="lh-copy">
                    {% include list_snippet %}
                </article>
                {% endunless %}
            {% endunless %}
            </div>
            {% if product.title contains "Gift Card" %}
            <form class="addtocart cf order-0 order-3-ns" action="/cart/add" method="post">
              {% comment %} Return to product instead of going to cart {% endcomment %}
              <input type="hidden" name="return_to" value="back" />
                <header class="bb bw1 b--dbc-orange mb3 mv3-ns">
                    <h5 class="section_title">Choose your option:</h5>
                     <div id="price-field"></div>
                </header>
                    <select id="product-select" name="id">
                    {% for variant in product.variants %}
                        <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                    {% endfor %}
                    </select>
                    <input type="submit" class="submit button" value="Add to Basket" id="add" name="add" />
            </form>
          {% else %}
            <form class="addtocart cf order-0 order-3-ns mb3 mb0-ns" action="/cart/add" method="post">
              {% comment %} Return to product instead of going to cart {% endcomment %}
              <input type="hidden" name="return_to" value="back" />
              <header class="bb bw1 b--dbc-orange mb3 mv3-ns">
                  <h5 class="f6 fw5 ma0 lh-title">Choose a format:</h5>
              </header>
                <div class="radioButtons cf grid-offset">
                    {% for variant in product.variants %}
                      {% if variant.title contains "pecial" %}
                      <div class="fl w-100 border-box pa3">
                          <div class="bg-near-white ba b--light-silver br2 cf">
                              <figure class="fl w-100 w-third-l pa3 border-box">
                                  <a href="{{ variant.image.src | product_img_url: '600x600' }}" data-fancybox="special" class="fancybox"><img class="br1" src="{{ variant.image.src | product_img_url: '480x480' }}" alt="{{ variant.title }}"></a>
                              </figure>
                              <div class="fl w-100 w-two-thirds pa3 border-box">
                                  <header class="bb bw1 b--dbc-orange mb3">
                                      <h5 class="f5 fw5 ma0 lh-title">Special Edition</h5>
                                  </header>
                                  <p>{{ product.metafields.attribute.special }}</p>
                                  <input type="radio" name="id" id="format_{{variant.id}}" value="{{ variant.id }}" class="bookFormat"/>
                                  <label for="format_{{variant.id}}" class="button{% if forloop.first %} first{% endif %} special">Add Special Edition<span class="description">{{ product.metafields.attribute.pagecount }} pages (includes eBook too)</span></label>
                              </div>
                          </div>
                      </div>
                      {% elsif variant.available == true %}
                        <div class="fl w-100 {% if forloop.length != 1 %}{% if product.metafields.attribute.audiobook %}w-third-ns{% else %}w-50-ns{% endif %}{% endif %} border-box ph3">
                            <input type="radio" name="id" id="format_{{variant.id}}" value="{{ variant.id }}" class="dn bookFormat"/>
                            <label for="format_{{variant.id}}" class="button{% if forloop.first %} first{% endif %}">Add {% if variant.title == "Paperback" %}Paperback{% unless product.title contains "Disrupt" %} &amp; eBook{% endunless %}{% else %}{{ variant.title }}{% endif %} {{ variant.price | money | remove: '.00' }} {% if variant.compare_at_price %}{{ variant.compare_at_price  | money | remove: '.00' | prepend: '(was ' | append: ')'}}{% endif %} <span class="description">{% if variant.title == "Bundle" %}Paperback &amp;&nbsp;eBook {% elsif variant.title == "Paperback" %}{% unless product.title contains "Wild Baker" %}{{ product.metafields.attribute.pagecount }} pages {% endunless %}{% unless product.title contains "Disrupt" %}(includes eBook too){% endunless %}{% elsif variant.title == "Hardback" %}{{ product.metafields.attribute.pagecount }} pages {% elsif variant.title == "eBook" %}Kindle, iBooks etc.{% endif %}</span></label>
                            {% if variant.title contains "eBook" %}<h5 class="helperText"><a href="/pages/supported-ebook-formats">Supported Ebook&nbsp;formats?</a></h5>{% endif %}
                        </div>
                      {% else %}
                        <div class="fl w-100 {% if product.metafields.attribute.audiobook %}w-third-ns{% else %}w-50-ns{% endif %} border-box ph3">
                            <input disabled type="radio" name="id" id="format_{{variant.id}}" value="{{ variant.id }}" class="dn bookFormat" />
                            <label for="format_{{variant.id}}" class="button{% if forloop.first %} first{% endif %}">{{ variant.title }} Unavailable <span class="description">{% if variant.title == "Bundle" %}Paperback &amp;&nbsp;eBook {% elsif variant.title == "Paperback" %}{{ product.metafields.attribute.pagecount }} pages (includes eBook too){% elsif variant.title == "eBook" %}Kindle, iBooks etc.{% endif %}</span></label>
                            {% if variant.title contains "eBook" %}<h5 class="helperText"><a href="/pages/supported-ebook-formats">Supported Ebook&nbsp;formats?</a></h5>{% endif %}
                        </div>
                      {% endif %}
                    {% endfor %}
                    {% if product.metafields.attribute.audiobook %}
                        <div class="fl w-100 w-third-ns border-box ph3">
                          <a target="_blank" class="button dark-gray link white" href="{{ product.metafields.attribute.audiobook }}">Buy Audiobook <span class="description">via Audible.com</span></a>
                        </div>
                    {% endif %}
                </div>
                {% if product.metafields.attribute.comingsoon %}
                  <p class="coming_soon wrapper tc lh-title i b">
                    {{ product.metafields.attribute.comingsoon }}
                  </p>
                {% else %}
                  {% unless product.available %}
                    <p class="coming_soon wrapper"><em>~ Sold out ~</em></p>
                  {% endunless %}
                {% endif %}
                <div>
                    <input type="submit" class="submit button dn" value="Add to Basket" id="add" name="add" />
                </div>
            </form>
            {% endif %}
        </article>
    </section>
</section>
{% unless product.handle contains "bundle" or product.handle contains "gift" or product.type == "Gift" %}
<section class="cf mv4 mv5-ns grid-offset">
    {% capture reviews_snippet %}{{ product.metafields.attribute.author | handleize }}-reviews{% endcapture %}
    {% capture reviews_snippet_content %}{% include reviews_snippet %}{% endcapture %}
    {% unless reviews_snippet_content contains "Liquid error" %}
    <section id="reviews" class="fl w-50-l pa3 border-box">
        <header class="bb bw1 b--dbc-orange mb3">
            <h2 class="f4 fw5 f3-ns ma0 lh-title">Reviews</h2>
        </header>
            {% include reviews_snippet %}
    </section>
    {% endunless %}
    <section class="fr w-50-l pa3 border-box">
        <header class="bb bw1 b--dbc-orange mb3">
            <h2 class="f4 fw5 f3-ns ma0 lh-title">About the author</h2>
        </header>
        <article class="wrapper">
            {% capture bio_snippet %}{{ product.metafields.attribute.author | handleize }}-bio{% endcapture %}
            <div class="lh-copy">{% include bio_snippet %}</div>
    </section>
</section>
{% unless product.title contains "Inhabit" %}
<section class="cf mv4 mv5-ns grid-offset">
    <figure class="embed cf">
        {% capture lecture_snippet %}{{ product.metafields.attribute.author | handleize }}-lecture{% endcapture %}
        <div class="fl w-100 w-70-l border-box pa3">
            {% include lecture_snippet %}
        </div>
        <figcaption class="fr w-100 w-30-l border-box pa3">
            {% capture lecture_description_snippet %}{{ product.metafields.attribute.author | handleize }}-lecture-description{% endcapture %}
            {% include lecture_description_snippet %}
        </figcaption>
    </figure>
</section>
{% endunless %}
{% capture details_snippet %}{{ product.metafields.attribute.author | handleize }}-details{% endcapture %}
{% capture details_snippet_content %}{% include details_snippet %}{% endcapture %}
{% unless details_snippet_content contains "Liquid error" %}
<section id="additional-details" class="cf mv4 mv5-ns grid-offset">
    {% include details_snippet %}
</section>
{% endunless %}
{% endunless %}

{% if collections[product.metafields.attribute.related].products.size != 0 %}
    <div>
        <header class="bb bw1 b--dbc-orange mb3 ">
            <h4 class="f5 fw5 f4-ns ma0 lh-title">Related titles</h4>
        </header>
        <div class="grid-offset book-grid">
        {% for product in collections[product.metafields.attribute.related].products %}
            <article class="border-box pa3 fl w-50 w-third-m w-20-l {{ product.metafields.attribute.type | handleize }}{% unless product.available %} sold-out{% endunless %}">
                <a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="product-thumb">
                    <figure class="ma0">
                        <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}" data-at2x="{{ product.featured_image | product_img_url: 'grande' }}">
                    </figure>
                </a>
            </article>
        {% endfor %}
        </div>
    </div>
{% endif %}
